.footer{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.footerMainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerIcons{
    margin-left:300px;
    margin-top:10px;
}

.footerIcons>img{
    margin-bottom:15px;
}

.socialIcon{
    margin-left:-5px;
    margin-right:25px;
}

.footerTextLinks>span{
    margin-left: 30px;
}

.companyInfo{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.footerSponsor{
    visibility:hidden ;
    margin-right: 300px;
}